<?xml version="1.0" encoding="UTF-8"?>
<КоммерческаяИнформация ВерсияСхемы="2.021" ДатаФормирования="2016-03-01T18:04:53">
	<Классификатор>
		<Ид>105</Ид>
		<Наименование>События</Наименование>
		<Свойства>
			<Свойство>
				<Ид>CML2_ACTIVE</Ид>
				<Наименование>БитриксАктивность</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_CODE</Ид>
				<Наименование>Символьный код</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_SORT</Ид>
				<Наименование>Сортировка</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_ACTIVE_FROM</Ид>
				<Наименование>Начало активности</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_ACTIVE_TO</Ид>
				<Наименование>Окончание активности</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_PREVIEW_TEXT</Ид>
				<Наименование>Анонс</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_DETAIL_TEXT</Ид>
				<Наименование>Описание</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_PREVIEW_PICTURE</Ид>
				<Наименование>Картинка анонса</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
		</Свойства>
		<Группы>
		</Группы>
	</Классификатор>
	<Каталог>
		<Ид>105</Ид>
		<ИдКлассификатора>5</ИдКлассификатора>
		<Наименование>События</Наименование>
		<БитриксКод>events</БитриксКод>
		<БитриксСортировка>500</БитриксСортировка>
		<БитриксURLСписок>#SITE_DIR#/content/index.php?ID=#IBLOCK_ID#</БитриксURLСписок>
		<БитриксURLДеталь>#SITE_DIR#/content/detail.php?ID=#ELEMENT_ID#</БитриксURLДеталь>
		<БитриксURLРаздел></БитриксURLРаздел>
		<БитриксURLКанонический></БитриксURLКанонический>
		<БитриксКартинка></БитриксКартинка>
		<БитриксИндексироватьЭлементы>true</БитриксИндексироватьЭлементы>
		<БитриксИндексироватьРазделы>false</БитриксИндексироватьРазделы>
		<БитриксДокументооборот>false</БитриксДокументооборот>
		<БитриксПодписи>
			<БитриксПодпись>
				<Ид>ELEMENT_NAME</Ид>
				<Значение>Событие</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENTS_NAME</Ид>
				<Значение>События</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENT_ADD</Ид>
				<Значение>Добавить событие</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENT_EDIT</Ид>
				<Значение>Изменить событие</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENT_DELETE</Ид>
				<Значение>Удалить событие</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_NAME</Ид>
				<Значение>Раздел</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTIONS_NAME</Ид>
				<Значение>Разделы</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_ADD</Ид>
				<Значение>Добавить раздел</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_EDIT</Ид>
				<Значение>Изменить раздел</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_DELETE</Ид>
				<Значение>Удалить раздел</Значение>
			</БитриксПодпись>
		</БитриксПодписи>
		<Товары>
			<Товар>
				<Ид>66</Ид>
				<Наименование>Возобновлена деятельность прихрамовых курсов компьютерной грамотности</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/c31/c314fa280099f1bcaf640cd4d3078cc6.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2016-02-04 22:28:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>Начинается новый – третий по счету учебный год на курсах компьютерной грамотности при церковно-приходской Воскресной школе.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>&lt;p&gt;
	 Начинается новый – третий по счету учебный год на курсах компьютерной грамотности при церковно-приходской Воскресной школе. Курсы адресованы, в первую очередь, людям старшего возраста, желающим овладеть тонкостями работы с компьютером и изучить наиболее популярные программы. Обучение бесплатно для слушателей – для храма это является формой социального и благотворительного служения. Занятия проводит сертифицированный преподаватель, из числа прихожан храма, по субботам с 16 до 18 ч.
&lt;/p&gt;
&lt;p&gt;
	 Справки по тел. 8 925 180 75 31 Федор Александрович
&lt;/p&gt;
&lt;p&gt;
	 Юные слушатели приглашаются на изучение основ компьютерной графики и анимации. Возраст – от 10 лет.
&lt;/p&gt;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/dae/dae16930e8a3a96fa6e1e6cc67fc250f.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>67</Ид>
				<Наименование>Клирик храма Рождества Иоанна Предтечи в Ивановском иерей Георгий Иванов совершил освящение обновленного столичного кинотеатра детского и юношеского фильма «Березка»</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/e43/e4336c111e77d51bf85f7d26d1f773e3.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2014-10-06 14:50:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>Событие явилось вдвойне знаменательным, ведь в нынешнем году московский кинотеатр «Берёзка», входящий в столичное «Кинообъединение для детей и молодежи», отмечает свой полувековой юбилей, а также второе рождение.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>&lt;p&gt;
	 Событие явилось вдвойне знаменательным, ведь в нынешнем году московский кинотеатр «Берёзка», входящий в столичное «Кинообъединение для детей и молодежи», отмечает свой полувековой юбилей, а также второе рождение.
&lt;/p&gt;
&lt;p&gt;
	 Около семи лет продолжался капитальный ремонт этого учреждения культуры –единственного кинотеатра в обширном «спальном» районе Новогиреево на восточной окраины Москвы, чья деятельность полностью ориентирована на просвещение детей. За это время успели повзрослеть и обзавестись собственными семьями его прежние зрители. В ходе ремонта полностью реконструирован кинозал на 360 мест с пожалуй единственным оставшимся в Москве широким экраном, установлено новое звуковое и кино-видео-проекционное 3D оборудование, создан детский развлекательный центр. Благодаря необходимому оснащению, кинотеатр смогут посещать лица с ограниченными физическими возможностями. Торжественное официальное открытие обновленного здания состоялось в самом конце апреля.
&lt;/p&gt;
&lt;p&gt;
	 Целями и задачами не только «Берёзки», но и всего «Кинообъединения для детей и молодежи» является создание новых форм полноценного культурного досуга для всей семьи. В следующем учебном году в «Берёзке» будут работать киношкола, тематические кружки и творческие студии для школьников. Здесь планируется регулярно проводить литературные и музыкальные вечера, концерты, спектакли и другие культурные события.
&lt;/p&gt;
&lt;p&gt;
	 Напутствуя руководство и сотрудников кинотеатра, священник Георгий Иванов пожелал им достойно трудиться на благо воспитания подрастающего поколения на основании христианских нравственных ценностей, в духе патриотизма. В свою очередь, директор «Березки» Р.Б.Бармас выразила готовность к сотрудничеству с приходом храма в Ивановском, пригласив его маленьких и взрослых прихожан, особенно учеников церковно-приходской воскресной школы, посещать кинотеатр, репертуар которого (&lt;a href=&quot;http://kinoberezka.ru/repertuar/&quot;&gt;http://kinoberezka.ru/repertuar/&lt;/a&gt;) включает лучшие образцы художественных и анимационных лент отечественных и западных мастеров кино.
&lt;/p&gt;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/a18/a18151b9cae0e1e1eb7a2af8bfe3b15c.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>68</Ид>
				<Наименование>В приходе Рождества Иоанна Предтечи в Ивановском прошла благотворительная ярмарка</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/3b0/3b03a5fccc9e0643b874ba896f54a2aa.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2014-12-29 21:09:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>29 декабря в преддверии праздника Рождества Христова в приходе Рождества Иоанна Предтечи в Ивановском (Восточное викариатство) прошла благотворительная ярмарка. Ее устроителем выступила церковно-приходская Воскресная школа. Все средства, собранные на ярмарке, заранее решено было передать нуждающимся детям, больным онкологическими заболеваниями и ДЦП.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>&lt;p&gt;
	 29 декабря в преддверии праздника Рождества Христова в приходе Рождества Иоанна Предтечи в Ивановском (Восточное викариатство) прошла благотворительная ярмарка. Ее устроителем выступила церковно-приходская Воскресная школа. Все средства, собранные на ярмарке, заранее решено было передать нуждающимся детям, больным онкологическими заболеваниями и ДЦП.
&lt;/p&gt;
&lt;p&gt;
	 По окончании поздней Божественной литургии в здании школы развернулась бойкая торговля рождественскими сувенирами, игрушками, книгами, дисками с духовными песнопениями. Многие сувениры – веселые зайчата, ангелочки с кружевными крыльями были созданы руками самих детей и их родителей.
&lt;/p&gt;
&lt;p&gt;
	 В качестве продавцов выступали преподаватели и воспитанники школы, а покупателями стали мамы, папы, бабушки и дедушки учащихся, а также обычные прихожане, активно откликнувшиеся на приглашение поучаствовать в благотворительном мероприятии. Каждый из них смог приобрести любую понравившуюся вещь, оставив взамен символическое пожертвование, размер которого покупатель определял сам.
&lt;/p&gt;
&lt;p&gt;
	 Один классов школы стал на время ярмарки концертным залом. Перед многочисленными слушателями, в числе которых были специально приглашенные ветераны из муниципальных округов Ивановское, Перово и Новогиреево, рождественские песнопения исполнил любительский хор прихожанок храма, а затем молодежный хор – лауреат и призер множества певческих и музыкальных конкурсов. Выступление и юных и взрослых исполнителей было встречено горячими аплодисментами.
&lt;/p&gt;
&lt;p&gt;
	 В отдельном классе Воскресной школы все желающие также за пожертвование могли напиться чаю с постными пирожками, отведать различных варений, печений и иных сладостей, которыми щедро снабдили ярмарку рукодельницы из числа прихожанок.
&lt;/p&gt;
&lt;p&gt;
	 В общей сложности в ходе ярмарки было собрано пожертвований на сумму 87 150 руб.
&lt;/p&gt;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/e90/e904a1387f16afc908d1229fda7ada76.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>69</Ид>
				<Наименование>В храме Рождества Иоанна Предтечи состоялась встреча с преподавателями</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/1bd/1bd51c8768f43b1f389da066baf743ce.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2014-01-20 21:20:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>Храм Рождества Иоанна Предтечи в Ивановском посетила с экскурсией группа педагогов средних общеобразовательных школ Восточного административного округа - слушателей курсов преподавателей Основ православной культуры, действующих при окружном Методическом центре (Государственном образовательном учреждении дополнительного профессионального образования (повышения квалификации) специалистов). Учителей сопровождал благочинный Рождественского округа протоиерей Иоанн Ермилов. Тепло встреченные настоятелем храма протоиереем Петром Захаровым, гости посетили и осмотрели храм, а затем ознакомились с жизнью церковно-приходской Воскресной школы, где для них было устроено дружеское чаепитие</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>&lt;p&gt;
	 Храм Рождества Иоанна Предтечи в Ивановском посетила с экскурсией группа педагогов средних общеобразовательных школ Восточного административного округа - слушателей курсов преподавателей Основ православной культуры, действующих при окружном Методическом центре (Государственном образовательном учреждении дополнительного профессионального образования (повышения квалификации) специалистов). Учителей сопровождал благочинный Рождественского округа протоиерей Иоанн Ермилов. Тепло встреченные настоятелем храма протоиереем Петром Захаровым, гости посетили и осмотрели храм, а затем ознакомились с жизнью церковно-приходской Воскресной школы, где для них было устроено дружеское чаепитие.
&lt;/p&gt;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/1fd/1fd99636c3861f5cadded6b549e9724a.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>70</Ид>
				<Наименование>Масленица</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/28c/28ca3c6a16742e6c096d5e0481dfd2db.jpeg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2014-02-24 21:22:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>Учащиеся и педагоги Воскресной школы, а также все желающие прихожане приняли участие в веселом празднике в честь провод Масленицы. К этому дню младший детский хор подготовил концертную программу. Задорные народные песни, под которые так и хотелось пуститься в пляс, не оставили равнодушными никого из слушателей. Затем все -от мала до велика - переместились на улицу, где состоялось состязание на ловкость. В старинной казачьей забаве участвовали и мальчики и девочки, причем последние ни в чем не уступали своим сверстникам. Завершился праздник совместным дружеским чаепитием.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>&lt;p&gt;
	 Учащиеся и педагоги Воскресной школы, а также все желающие прихожане приняли участие в веселом празднике в честь провод Масленицы. К этому дню младший детский хор подготовил концертную программу. Задорные народные песни, под которые так и хотелось пуститься в пляс, не оставили равнодушными никого из слушателей. Затем все -от мала до велика - переместились на улицу, где состоялось состязание на ловкость. В старинной казачьей забаве участвовали и мальчики и девочки, причем последние ни в чем не уступали своим сверстникам. Завершился праздник совместным дружеским чаепитием.
&lt;/p&gt;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/681/681816cebb6df444d6082b146cc008b1.jpeg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>71</Ид>
				<Наименование>В наш приход принесена из Италии частица мощей святителя Василия Великого, архиепископа Кессарии Каппадокийской</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/6f3/6f3b5a7755474d566c8245d2c782439f.jpeg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2014-04-13 21:27:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>13 апреля 2014 года в двунадесятый праздник Входа Господня в Иерусалим, в наш приход принесена из Италии частица мощей святителя Василия Великого, архиепископа Кессарии Каппадокийской. В честь святителя Василия освящен престол приходского крестильного храма, являющегося частью церковного комплекса, возведенного в Ивановском за минувшие 20 лет. Святыня, торжественно встреченная духовенством и прихожанами, отныне будет пребывать в нашем храме.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>&lt;p&gt;
	 13 апреля 2014 года в двунадесятый праздник Входа Господня в Иерусалим, в наш приход принесена из Италии частица мощей святителя Василия Великого, архиепископа Кессарии Каппадокийской. В честь святителя Василия освящен престол приходского крестильного храма, являющегося частью церковного комплекса, возведенного в Ивановском за минувшие 20 лет. Святыня, торжественно встреченная духовенством и прихожанами, отныне будет пребывать в нашем храме.
&lt;/p&gt;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/231/2318a7ae2918fa8fd0d617b42b2d8ca7.jpeg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>72</Ид>
				<Наименование>Епископ Орехово-Зуевский Пантелеимон, викарий Святейшего Патриарха Московского и всея Руси Кирилла по Восточному административному округу совершил литургию в нашем храме</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/fd9/fd9774478c62a5491854712f057e45e2.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2014-04-25 21:34:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>В пятницу Светлой седмицы 25 апреля 2014 года, когда Православная Церковь совершает празднование в честь иконы Божией Матери «Живоносный Источник», Литургию в нашем храме совершил викарий Святейшего Патриарха Московского и всея Руси Кирилла по Восточному административному округу, епископ Орехово-Зуевский Пантелеимон.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>&lt;p&gt;
	 В пятницу Светлой седмицы 25 апреля 2014 года, когда Православная Церковь совершает празднование в честь иконы Божией Матери «Живоносный Источник», Литургию в нашем храме совершил викарий Святейшего Патриарха Московского и всея Руси Кирилла по Восточному административному округу, епископ Орехово-Зуевский Пантелеимон.
&lt;/p&gt;
&lt;p&gt;
	 За богослужением Владыке сослужил благочинный Преображенского округа протоиерей Иоанн Ермилов, а также настоятели храмов благочиния.
&lt;/p&gt;
&lt;p&gt;
	 По окончании богослужения по традиции состоялся крестный ход, в котором приняли участие более сотни прихожан.
&lt;/p&gt;
&lt;p&gt;
	 Обращаясь к собравшимся в храме, Владыка Пантелеимон призвал всех свято хранить в сердце радость о Христе Воскресшем, не позволяя внешним обстоятельствам жизни, заботам и скорбям затмевать его. Что бы ни было, - подчеркнул он, - эта радость должна всегда быть с нами.
&lt;/p&gt;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/ec2/ec2234312b3412d64497861fce49bc0b.jpg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>73</Ид>
				<Наименование>Престольный праздник нашего храма</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/b9d/b9d7402c38f3b249b16a69be991d809c.jpeg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2014-07-07 21:40:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>Рождество честного славного Пророка, Предтечи и Крестителя Господня Иоанна Предтечи, ежегодно отмечаемое 7 июля, является престольным праздником нашего храма. Литургию в нынешнее – 213-е в истории храма престольное торжество возглавил викарий Святейшего Патриарха Московского и всея Руси, управляющий Северо-Восточным викариатством епископ Подольский Тихон.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>&lt;p&gt;
	 Рождество честного славного Пророка, Предтечи и Крестителя Господня Иоанна Предтечи, ежегодно отмечаемое 7 июля, является престольным праздником нашего храма. Литургию в нынешнее – 213-е в истории храма престольное торжество возглавил викарий Святейшего Патриарха Московского и всея Руси, управляющий&amp;nbsp;&lt;a href=&quot;http://sv-vikariatstvo.ru/&quot; target=&quot;_blank&quot;&gt;Северо-Восточным викариатством&lt;/a&gt;&amp;nbsp;епископ Подольский Тихон. Владыке сослужил настоятель - протоиерей Петр Захаров, а также благочинный Рождественского благочиния протоиерей Ермилов Иоанн и клирики храмов Восточного викариатства. Среди сослужащих присутствовал дорогой гость – 89-летний протопресвитер Матфей Стаднюк, почетный настоятель Богоявленского кафедрального собора в Елохове, которого хорошо знают и любят многие наши прихожане.
&lt;/p&gt;
&lt;p&gt;
	 По окончании Литургии Владыка Тихон тепло приветствовал духовенство и верующих, поздравив их с днем памяти святого Иоанна Предтечи, являющего своей верностью Богу пример для каждого христианина. В дар Владыке о.Петр Захаров преподнес икону празника.
&lt;/p&gt;
&lt;p&gt;
	 В церковном дворе состоялся концерт хора прихожан, а также были накрыты столы и устроено чаепитие с храмовой выпечкой для всех желающих. Педагоги воскресной школы организовали и провели для детей мастер-классы по бисероплетению и изготовлению различных поделок.
&lt;/p&gt;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/b86/b86cde4b8dd13fedf5e57a9b44544d49.jpeg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>74</Ид>
				<Наименование>Двойной праздник прихода</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/dd0/dd080abfa004771f2b82aa04da7518b7.jpeg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2014-07-12 21:44:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение>12 июля, когда Русская Православная Церковь молитвенно чествует святых первоверховных апостолов Петра и Павла, для прихожан нашего храма является двойным праздником - свой день Ангела отмечает настоятель прихода протоиерей Петр Захаров.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>&lt;p&gt;
	 12 июля, когда Русская Православная Церковь молитвенно чествует святых первоверховных апостолов Петра и Павла, для прихожан нашего храма является двойным праздником - свой день Ангела отмечает настоятель прихода протоиерей Петр Захаров.
&lt;/p&gt;
&lt;p&gt;
	 В этот день, несмотря на отпускной период, на богослужениях всегда бывает очень многолюдно, что вполне объяснимо. О.Петр служит в храме в Ивановском уже более двадцати лет и для сотен жителей этого спального района московской окраины, как и для многих обитателей близлежашего подмосковного Реутова, именно он стал первым духовным наставником, научившим основам православной Веры, приобщившим к участию в церковных Таинствах. Те, кто в далекие перестроечные годы впервые переступили порог нашего храма и нашли в о.Петре доброго, чуткого и внимательного собеседника, готового терпеливо подолгу общаться с каждым, искренне ищущим пути спасения, сегодня уже приводят сюда своих детей и внуков. Недаром так возросло за эти годы число учащихся Воскресной школы, составляющих сегодня более 120 человек.
&lt;/p&gt;
&lt;p&gt;
	 Помимо собратьев в духовном сане, взрослых и юных прихожан, адресовавших именнику немало сердечных слов и добрых пожеланий, настоятеля единственного в районе Ивановском православного храма тепло приветствовали глава Управы райоа Ивановское Н.М.Голованова и муниципальный депутат муниципального собрания В.К.Макаров.
&lt;/p&gt;
 &lt;br&gt;</Значение>
						<Тип>html</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение>events_files/iblock/736/7362e7e19ef37b10da23c0f509b5b5e4.jpeg</Значение>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
		</Товары>
	</Каталог>
</КоммерческаяИнформация>
